<!DOCTYPE html>
<html>
  <head>
    <title>Yelp2023</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "About", pages_about_path%>
    <%= link_to "Contact", pages_contact_path%>

    <%= yield %>
    <p>Copyright Oshim chy </p>
  </body>
</html>
